.billboard {
    margin: 50px auto 200px;
    display: flex;
    gap: 150px;
    max-width: 1920px;
    width: 100%;
    align-items: center;
    position: relative;
}

.billboard .banner {
    background-color: #F1F2F3;
    width: 100%;
    max-width: 800px;
    height: 400px;
}

.billboard .card {
    width: 100%;
    max-width: 850px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
}

.billboard .squares {
    z-index: -1;
    position: absolute;
    left: 60px;
    top: 32px;
}

.billboard .card .info {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 112px;
}

.billboard .card .row-line {
    height: 2px;
    background-color: black;
    width: 100%;
    max-width: 850px;
}

.billboard .card .title {
    font-family: Josefin Sans;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
}

/* .billboard .squares .big-square {
    position: absolute;
    left: 60px;
    top: 32px;
} */
    

.billboard .card .navigation {
    display: flex;
    gap: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    border-left: 1.5px solid black;
    padding-left: 12px
}

.billboard .card .navigation .link {
    transition: 200ms;
    cursor: pointer;
}

.billboard .card .navigation .link.active {
    color: #FF8E8E;
}

.billboard .card .navigation .link:hover {
    color: #FF8E8E;
    transition: 200ms;
}

@media screen and (max-width: 1200px) {
    .billboard {
        margin: 30px auto;
        gap: 10px;
        justify-content: space-between;
    }

    .billboard .card {
        width: 100%;
        max-width: 400px;
        display: flex;
        gap: 10px;
    }

    .billboard .banner {
        max-width: 600px;
        height: 300px;
    }

    .billboard .squares .big-square {
        width: 250px;
    }
}

@media screen and (max-width: 1024px) {

    .billboard .banner {
        max-width: 400px;
        height: 200px;
    }

    .billboard .squares .big-square {
        width: 200px;
    }

}

@media screen and (max-width: 768px) {

    .billboard .banner {
        display: none;
    }

    .billboard .card .title {
        font-size: 50px;
        line-height: 36px;
    }

    .billboard .squares .big-square {
        width: 150px;
    }

}
